rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if request.auth.uid != null;
    }
    
    match /users/{userId}/{document=**} {
    	allow write: if request.auth.uid == userId;
    }
    
    match /comments/{documentId} {
    	allow write: if request.auth.uid == resource.data.userId;
    }
  }
}