/* Global Styles */

body {
  padding: 100px 20px 0 20px;
  font-family: 'Questrial', sans-serif;
}

.center-layout {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: solid transparent 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  margin: 10px 0;
  background-color: #eae8e8;
  font-size: 14px;
}

button:hover {
  border: solid black 1px;
}

a:hover {
  text-decoration: underline;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FF9B42;
}

header a {
  padding: 0 10px;
  font-size: 14px;
}

.title-link {
  font-size: 18px;
}

#appbar-signin-button,
#appbar-signout-button,
#appbar-addtune-button,
#appbar-mysongs-link {
  display: none;
}

/* Intro Page */

img {
  width: 500px;
  align-self: center;
}

/* Sign in */

#signin-google {
  background-color: rgb(219, 68, 55);
  color: white;
}

#signin-facebook {
  background-color: rgb(59, 89, 152);
  color: white;
}